.bg {
  background-color: #212121;
  margin-top: -0.1rem;
  padding-top: 4rem;
}

.benefits {
  background-color: #212121;
  padding-bottom: 5rem;
}

.container_benefits {
  display: flex;
  justify-content: start;  
  align-items: center;
  gap: 1rem;
  overflow-x: auto;        
  white-space: nowrap; 
  padding-bottom: 2.5rem;
}

.content {
  width: 328px;
  border: 3px solid #CFCFCF;
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.378rem;
  padding: 1.5rem;
  flex-shrink: 0;      
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #CFCFCF;
  line-height: 2rem;
  margin-bottom: .5rem;
}

.text {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: #CFCFCF;
}