.benefits {
  background-color: #212121;
  padding-bottom: 2rem;
  margin-top: -6.5rem;
}

.container_benefits {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.content {
  width: 260px;
  border: 3px solid #CFCFCF;
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  padding: 1.3rem;
}

.content img {
  width: 32px;
}

.title {
  font-size: .9rem;
  font-weight: 600;
  color: #CFCFCF;
  line-height: 2rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.text {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: #CFCFCF;
}

.container_first {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

@media(max-width: 1380px) {
  .content {
    width: 320px;
    border: 3px solid #CFCFCF;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .container_benefits {
    gap: 1rem;
  }
  .text { 
    font-size: .9rem;
  }
}