.footer {
  background-color: #212121;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10rem;
  gap: 3rem;
}

.links {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.nexus {
  display: flex;
  align-items: center;
  gap: .3rem;
  color: #a5a5a5;
  padding-bottom: 1rem;
}

@media(max-width: 980px) {
  .footer {
    margin-top: -.1rem;
    padding-top: 6rem;
  }
}