.container_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #212121;
}

.logo {
  width: 140px;
  margin-left: 1rem;
}

.menu {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 3rem;
  cursor: pointer;

}

.details {
  background-color: #fff;
  border-radius: 4px;
  display: block;
  height: 2px;
  margin: 4px 0 4px -3px;
  width: 22px;
}

.menu_itens {
  position: absolute;
  background-color: #212121;
  width: 100%;
  right: 0px;
  z-index: 100;
  top: 59px;
  height: 100%;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: .5rem 1rem;
  margin-bottom: .5rem;
  margin-top: 5rem;
}

.links li {
  list-style-type: none;
  font-size: .9rem;
  margin-bottom: .5rem;
}

.links li a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1.25rem;
  font-weight: 400;
}

.container_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

.container_button button {
  font-size: 1.5rem;
  padding: .5rem 1.5rem;
  background-color: #C8882C;
  border: none;
  border-radius: .5rem;
}

.details_top {
  position: relative;
  z-index: 999;
}

.details_top::after {
  content: "";
  display: block;
  height: 4px;
  width: 250px;
  background-color: #C8882C;
  position: absolute;
  right: 115px;
  top: 30px;
}

.details_bottom {
  position: relative;
  z-index: 999;
}

.details_bottom::after {
  content: "";
  display: block;
  height: 4px;
  width: 250px;
  background-color: #C8882C;
  position: absolute;
  right: -48px;
  bottom: -665px;
}