.bg {
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1rem;
}

.container_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  width: 200px;
  text-align: center;
  padding-top: 4rem;
  color: #FFF;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: .05rem;
  margin-bottom: 1.5rem;
}

.title span {
  color: #C8882C;
}

.image {
  width: 232px;
  height: 289px;
}

.text {
  color: #c4c4c4;
  font-weight: 300;
  font-size: 1.25rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
  width: 280px;
  line-height: 1.8rem;
}

.details_top {
  position: relative;
  z-index: 999;
}

.details_top::after {
  content: "";
  display: block;
  height: 4px;
  width: 250px;
  background-color: #C8882C;
  position: absolute;
  top: -318px;
  left: -345px;
}

.details_bottom {
  position: relative;
  z-index: 999;
}

.details_bottom::after {
  content: "";
  display: block;
  height: 4px;
  width: 250px;
  background-color: #C8882C;
  position: absolute;
  right: -66px;
  bottom: -358px;
}

@media(max-width: 393px) {
  .details_bottom::after {
    content: "";
    display: block;
    height: 4px;
    width: 250px;
    background-color: #C8882C;
    position: absolute;
    right: -56px;
    bottom: -336px;
  }
}

@media(max-width: 390px) {
  .details_bottom::after {
    content: "";
    display: block;
    height: 4px;
    width: 250px;
    background-color: #C8882C;
    position: absolute;
    right: -54px;
    bottom: -336px;
  }
}

@media(max-width: 375px) {
  .details_bottom::after {
    content: "";
    display: block;
    height: 4px;
    width: 250px;
    background-color: #C8882C;
    position: absolute;
    right: -46px;
    bottom: -336px;
  }
}