.container_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  gap: 1.25rem;
}

.container_buttons button {
  width: 250px;
  height: 48px;
  border-radius: .5rem;
  border: none;
  font-size: 1.5rem;
  font-weight: 400;
  background-color: #D3D3D3;
  color: #212121;
  cursor: pointer;
}

.container_buttons button:hover {
  background-color: #9e9e9e !important;
  transition: .3s;
}

.selected {
  background-color: #212121 !important;
  color: #FFF !important;
}

.container_images {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .8rem;
  margin-top: 2rem;
}

.imgs {
  display: flex;
}

.img {
  position: relative;
  width: 514px;
  margin-right: 2rem;
  cursor: pointer;
}

.img:last-child {
  margin-right: 0;
}

.img img {
  width: 530px;
  height: 360px;
  object-fit: cover;
}

.img:hover .imgText {
  display: block;
  animation: reveal .8s forwards;
}

.imgText {
  display: none;
  position: absolute;
  top: 73%;
  left: 0;
  width: 0;
  color: #fff;
  background-color: #C8882C;
  padding: 1rem;
  text-align: center;
  border-radius: 0 .5rem .5rem 0;
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
}

.details_bottom::after {
  content: "";
  display: block;
  height: 8px;
  width: 452px;
  background-color: #212121;
  position: relative;
  left: 0;
  bottom: 0;
  top: 98px;
}

.carouselContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.imageCarousel {
  width: 40% !important;
  max-height: 40% !important;
}

@keyframes reveal {
  0% {
    width: 0;
    left: -2%;
  }
  100% {
    width: 50%;
    left: -2%;
  }
}

@media(max-width: 1380px) {
  .img {
    position: relative;
    width: 420px;
    margin-right: 2rem;
  }
  .container_buttons button {
    width: 205px;
  }
  .img img {
    width: 420px;
    height: 360px;
    object-fit: cover;
  }
  
}

@media(max-width: 980px) {
  .container_buttons {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1.25rem;
    overflow-x: scroll;
    white-space: nowrap;
    margin-top: 5rem;
    width: 100%;
  }
  .container_buttons button {
    width: 250px;
    height: 48px;
    border-radius: .5rem;
    border: none;
    font-size: 1.5rem;
    font-weight: 400;
    background-color: #D3D3D3;
    color: #212121;
    cursor: pointer;
    flex-shrink: 0;
    margin-right: 1.25rem;
  }
  .container_buttons button:last-child {
    margin-right: 0; 
  }
  .imgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img img {
    width: 360px;
    height: 180px;
    object-fit: cover;
  }
  .img {
    position: relative;
    width: initial;
    margin-right: 0rem;
    margin-bottom: 0.375rem;
  }
  .container_images {
    gap: 0rem;
  }
  .imgText {
    top: 55%;
    padding: .8rem;
  }
  .details_bottom::after {
    content: "";
    display: block;
    height: 4px;
    width: 250px;
    background-color: #212121;
    position: relative;
    left: 0;
    bottom: 15px;
    top: 38px;
  }
  @keyframes reveal {
    0% {
      width: 0;
      left: -2%;
    }
    100% {
      width: 60%;
      left: -2%;
    }
  }
}

@media(max-width: 780px) {
  .imageCarousel {
    width: 82% !important;
    max-height: 40% !important;
  }
}