* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cormorant Garamond', serif;
}

a {
  text-decoration: none;
}

li, ul {
  list-style-type: none;
}

.swiper-wrapper {
  max-width: 1500px !important;
}

.swiper-button-prev {
  background-image: url('../src/assets/left.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: transparent;
  top: 200px;
}

.swiper-button-next {
  background-image: url('../src/assets/right.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: transparent;
  top: 200px;
}

.swiper-slide {
  margin-left: 0rem !important;
}

@media(max-width: 1480px) {
  .swiper-button-next {
    right: 16px !important;
  }
  .swiper-button-prev {
    left: 16px !important;
  }
}